package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

node_modules
.turbo

dist
build
out

.next
.svelte-kit
.astro
.source
.wrangler
.tanstack
.expo

*.tsbuildinfo
next-env.d.ts
expo-env.d.ts
